[Game]
Scenario=3
Seed=yourcustomseed123
Difficulty=0
HardcoreEnabled=false
InfiniteResources=false
PlayTutorial=false
CollisionDamage=1
SafePlayerInput=false
PlayerToPlayerDamage=true
LogoutInvincibility=true
LogoutInvincibilityDelay=30
ShipyardBoundBuilding=true
FullBuildingUnlocked=true
RepairingAlwaysAllowed=false
BlockOverlapExploit=false
PermaDestruction=false
DockingRestrictions=true
CreativeModeCommandCenter=false
InstantShipyardBuilding=false
BuildModeFreeTurrets=false
BuildModeExtraBlockTypes=false
Barrier=true
Storyline=true
BehemothEvents=true
UnlimitedProcessingPower=true
UnlimitedShipSize=true
RelationLossFactor=1
RelationGainFactor=1
StartingResources=0
DamageMultiplier=0.600000024
InitialRelations=0
MapFactions=350
Rifts=200
ResourceAsteroidFactor=1
ResourceWreckageFactor=1
EventsFactor=1
PreciseAIAim=false
BlockDestructionThreshold=0.800000012
DevMode=false
ExplicitCallables=true
RiftMassFactor=1
RiftDamageFactor=1
BigWreckageDespawnTime=1800
SmallWreckageDespawnTime=900
MaximumFightersPerSectorAndPlayer=-1
MaximumStationsPerSector=-1
MaximumBlocksPerCraft=-1
MaximumVolumePerShip=-1
MaximumVolumePerStation=-1
MaximumPlayerShips=-1
MaximumPlayerStations=-1
MaximumAllianceShips=-1
MaximumAllianceStations=-1
MaximumAllianceShipsPerMember=-1
MaximumAllianceStationsPerMember=-1
MaximumBlocksPerTurret=250
BoardingAllowed=true
MinimumCraftSize=0
MinimumBlockSize=0.01
MaxShipVelocity=0
PlayerInventorySlots=1000
AllianceInventorySlots=1000
Version=2.5.13
sameStartSector=true
xsotanInvasionSectors=5
startUpScript=data/scripts/server/server.lua
startSectorScript=startsector
motd=
[System]
MaxTimeStep=1
saveInterval=300
sectorUpdateTimeLimit=300
emptySectorUpdateInterval=0.5
workerThreads=6
generatorThreads=2
scriptBackgroundThreads=2
aliveSectorsPerPlayer=5
weakUpdate=true
profiling=false
sendCrashReports=false
hangDetection=true
backups=true
backupsPath=
statsLogging=true
simulateHighLoadServer=false
commandsFile=
sendSectorDelay=2
placeInShipOnDeathDelay=7
respawnAloneDelay=12
respawnMultiplayerDelay=92
autoSavePerformanceData=false
performanceDataAutoSaveFiles=10
timeBetweenPerformanceDataAutoSaves=30
fileClustering=false
clusterFileSize=200000000
clusteringThreads=8
[Networking]
port=27000
broadcastInterval=5
isMultiplayer=true
isListed=false
vacSecure=true
sendStatsToAdmins=true
useSteam=true
forceSteam=false
rconIp=
rconPassword=
rconPort=27015
maxReceivableMessageSize=52428800
networkingThreads=2
safeBytesPerClientPerTick=1048576
suspiciousTickHistorySize=50
maxSuspiciousTicks=30
[Administration]
maxPlayers=5
name=Yaaaaayyyyy, Avorion!
description=An Avorion Server
password=yourcustompassword
pausable=false
accessListMode=Blacklist
steamIdOverride=0
[Meta]
branch=
